# 1. Class for Employee

In [1]:
from datetime import datetime
import datetime

In [2]:
class Employee:
    def __init__(self, name):
        self.name = name  
        try:
          last_blank = name.rindex(' ')
          self.last_name = name[last_blank+1:]
          self.first_name = name[:last_blank]
        except:
          self.last_name = name 
        
    def getLastName(self, last_name):               # changes the last name
        """Returns self's last name"""
        self.last_name = last_name

    def getFirstName(self, first_name):             # changes the first name
        """Returns self's first name"""
        self.first_name = first_name

    def __lt__(self, other):
         if self.last_name == other.last_name:
            return self.first_name < other.first_name
         return self.last_name < other.last_name

    def __repr__(self):
         return '\n' + '{' "Last Name: "+ self.last_name + "  First Name: "  +self.first_name  + '}'

In [3]:
def merge(left, right, compare):
    """Assumes left and right are sorted lists and 
       compare defines an ordering on the elements.
       Returns a new sorted (by compare) list containing
       the same elements as (left + right) would contain."""
    result = []
    i, j = 0, 0
    while i < len(left) and j < len(right):
        if compare(left[i], right[j]):
            result.append(left[i])
            i += 1
        else:
            result.append(right[j])
            j += 1
    while (i < len(left)) :
        result.append(left[i])
        i += 1
    while (j < len(right)):
        result.append(right[j])
        j += 1
    return result

def merge_sort(L, compare = lambda x, y: x < y):
    """Assumes L is a list, compare defines an ordering
       on elements of L.
       Returns a new sorted list with the same elements as L"""
    if len(L) < 2:  # keeps on dividing sublist until the length is one
        return L[:]
    #
    else:
        middle = len(L) // 2
        left = merge_sort(L[:middle], compare)
        right = merge_sort(L[middle:], compare)
        return merge(left, right, compare)

In [4]:
# Ability to print out all unsorted employee names
E1 = Employee('Julie Zong')
E2 = Employee('Phil Zuo')
E3 = Employee("Angel Day")
E4 = Employee("Faith Flat")
E5 = Employee("Julius Jay")
E6 = Employee("Absen Tee")

Employees = [E1, E2, E3, E4, E5, E6]
for i in Employees:
  print(i)

{Last Name: Zong  First Name: Julie}

{Last Name: Zuo  First Name: Phil}

{Last Name: Day  First Name: Angel}

{Last Name: Flat  First Name: Faith}

{Last Name: Jay  First Name: Julius}

{Last Name: Tee  First Name: Absen}

In [5]:
# Ability to sort employees based on last names in ascending order and the next is descending
print(merge_sort(Employees))
print("\n")
print(merge_sort(Employees, lambda x, y: x >y))

[
{Last Name: Day  First Name: Angel},
{Last Name: Flat  First Name: Faith},
{Last Name: Jay  First Name: Julius},
{Last Name: Tee  First Name: Absen},
{Last Name: Zong  First Name: Julie},
{Last Name: Zuo  First Name: Phil}]


[
{Last Name: Zuo  First Name: Phil},
{Last Name: Zong  First Name: Julie},
{Last Name: Tee  First Name: Absen},
{Last Name: Jay  First Name: Julius},
{Last Name: Flat  First Name: Faith},
{Last Name: Day  First Name: Angel}]

In [6]:
# Ability to change first name, last name, print out new list in ascending orders, and printout unsorted new list
print("Before the change of E2\t\t", E2)
E2.getFirstName("Jane")
print("After change of First Name of E2", E2)
E2.getLastName("Bow")
print("After change of Last Name of E2\t", E2)
print("\n")
print("All employees names resorted with changes")
print(merge_sort(Employees))                                                # SortAscending(Employees)
print("\n")
print("All employees names unsorted with changes")
Employees

Before the change of E2
{Last Name: Zuo  First Name: Phil}
After change of First Name of E2
{Last Name: Zuo  First Name: Jane}
After change of Last Name of E2
{Last Name: Bow  First Name: Jane}


All employees names resorted with changes
[
{Last Name: Bow  First Name: Jane},
{Last Name: Day  First Name: Angel},
{Last Name: Flat  First Name: Faith},
{Last Name: Jay  First Name: Julius},
{Last Name: Tee  First Name: Absen},
{Last Name: Zong  First Name: Julie}]


All employees names unsorted with changes

[
 {Last Name: Zong  First Name: Julie},

 {Last Name: Bow  First Name: Jane},

 {Last Name: Day  First Name: Angel},

 {Last Name: Flat  First Name: Faith},

 {Last Name: Jay  First Name: Julius},

 {Last Name: Tee  First Name: Absen}]

# 2. Class for Store

In [7]:
class Store(Employee):
  
    def __init__(self, name, Address, Zip, Phone, Monthly_Sales= None, Employees = None):
      super().__init__(name)
      self.Address = Address
      self.Zip = Zip
      self.Phone = Phone
      if Monthly_Sales is None:
        self.Monthly_Sales = 0
      else:
        self.Monthly_Sales = Monthly_Sales
      self.Addresses = None
      if Employees is None:
        self.Employees = 0
      else:
        self.Employees = Employees
        self.isSorted = True    
      
    def getAddress(self, Address):                # changes the address
        self.Address = Address

    def getZip(self, Zip):                        # changes the zip
        self.Zip = Zip

    def getPhone(self, Phone):                    # changes the phone number
        self.Phone = Phone        

    def getMonthly_Sales(self, Monthly_Sales):    # changes the Monthly Sales
        self.Monthly_Sales = Monthly_Sales

    def addEmployee(self, Employee):              # Add employee
        if Employee not in self.Employees:
          self.Employees.append(Employee)
        self.isSorted = False
          
    def removeEmployee(self, Employee):          # Remove employee
        if Employee in self.Employees:
          self.Employees.remove(Employee)
        self.isSorted = False

    def EmployeeInfo(self):                     # Provide employee info
      return self.Employees      

    def allEmployees(self):                     # Return list of employees
      if not self.isSorted:
        self.Employees.sort()
        self.isSorted = True
      return self.Employees[:] 

    def Monthy_SalesInfo(self):                 # Return monthly sales info
      return self.Monthly_Sales

    def __lt__(self, other):                    # Less than function used for sorting monthly sales followed by last name
        if self.Zip == other.Zip:
          return self.Monthly_Sales < other.Monthly_Sales
        return self.Zip < other.Zip

    def __repr__(self):
        return "\n {" + "Location Name: " + str(self.name) + "  Address: " + str(self.Address) + "  Zip: " + str(self.Zip) + "  Phone: " + str(self.Phone) +"  Monthly_Sales: " + str(self.Monthly_Sales) + "}"

In [8]:
# Store has address including zip code and phone number
S1 = Store("Timm Tong", "2 Russell St", 20840, 2406455, 80,[E1, E2, E3])
S2 = Store("Ball Mall", "345 Darn St", 98790, 30185642, 97, [E2])
S3 = Store("Fall View", "409 Octo St", 98500, 30185642, 40, [E3])
S4 = Store("Uppy Hill", "908 Rush St", 20007, 2406455, 150, [E6])
S5 = Store("Scoretown", "714 Loud St", 78600, 30185642, 221, [E5])
S6 = Store("Hott City", "608 Russell St", 20846, 2406455, 58, [E3])

Stores = [S1, S2, S3, S4, S5, S6]
Stores

[
  {Location Name: Timm Tong  Address: 2 Russell St  Zip: 20840  Phone: 2406455  Monthly_Sales: 80},

  {Location Name: Ball Mall  Address: 345 Darn St  Zip: 98790  Phone: 30185642  Monthly_Sales: 97},

  {Location Name: Fall View  Address: 409 Octo St  Zip: 98500  Phone: 30185642  Monthly_Sales: 40},

  {Location Name: Uppy Hill  Address: 908 Rush St  Zip: 20007  Phone: 2406455  Monthly_Sales: 150},

  {Location Name: Scoretown  Address: 714 Loud St  Zip: 78600  Phone: 30185642  Monthly_Sales: 221},

  {Location Name: Hott City  Address: 608 Russell St  Zip: 20846  Phone: 2406455  Monthly_Sales: 58}]

In [9]:
# Ability to show monthly sales info
S1.Monthy_SalesInfo()

80

In [10]:
# Ability to hold a list of employees in a particular store
print("Store 1's employees")
S1.EmployeeInfo()

Store 1's employees

[
 {Last Name: Zong  First Name: Julie},

 {Last Name: Bow  First Name: Jane},

 {Last Name: Day  First Name: Angel}]

In [11]:
# Ability to print employee of a particular store
print("Store 2's employee")
S2.EmployeeInfo()

Store 2's employee

[
 {Last Name: Bow  First Name: Jane}]

In [12]:
# Ability to add and remove employees 
print("Current employee in S3")
print(S3.EmployeeInfo())
E6 = Employee("Cookie Cool")
print("Store 3 added Cookie Cool and removed Angel Day")
S3.addEmployee(E6)
S3.removeEmployee(E3)
S3.EmployeeInfo()

Current employee in S3
[
{Last Name: Day  First Name: Angel}]
Store 3 added Cookie Cool and removed Angel Day

[
 {Last Name: Cool  First Name: Cookie}]

In [13]:
# Ability to change store address, phone numbers, monthly sales, and zip code
S4.getAddress("88 Gung St")
S3.getZip(27508)
S2.getPhone(2409867)
S3.getMonthly_Sales(40)
Stores

[
  {Location Name: Timm Tong  Address: 2 Russell St  Zip: 20840  Phone: 2406455  Monthly_Sales: 80},

  {Location Name: Ball Mall  Address: 345 Darn St  Zip: 98790  Phone: 2409867  Monthly_Sales: 97},

  {Location Name: Fall View  Address: 409 Octo St  Zip: 27508  Phone: 30185642  Monthly_Sales: 40},

  {Location Name: Uppy Hill  Address: 88 Gung St  Zip: 20007  Phone: 2406455  Monthly_Sales: 150},

  {Location Name: Scoretown  Address: 714 Loud St  Zip: 78600  Phone: 30185642  Monthly_Sales: 221},

  {Location Name: Hott City  Address: 608 Russell St  Zip: 20846  Phone: 2406455  Monthly_Sales: 58}]

In [14]:
# Ability to Sort Ascending Order for the Zip
merge_Store = merge_sort(Stores)
print(merge_Store)

[
 {Location Name: Uppy Hill  Address: 88 Gung St  Zip: 20007  Phone: 2406455  Monthly_Sales: 150},
 {Location Name: Timm Tong  Address: 2 Russell St  Zip: 20840  Phone: 2406455  Monthly_Sales: 80},
 {Location Name: Hott City  Address: 608 Russell St  Zip: 20846  Phone: 2406455  Monthly_Sales: 58},
 {Location Name: Fall View  Address: 409 Octo St  Zip: 27508  Phone: 30185642  Monthly_Sales: 40},
 {Location Name: Scoretown  Address: 714 Loud St  Zip: 78600  Phone: 30185642  Monthly_Sales: 221},
 {Location Name: Ball Mall  Address: 345 Darn St  Zip: 98790  Phone: 2409867  Monthly_Sales: 97}]

# 3. Class Customer

In [15]:
class Customer(Store):
    def __init__(self, name, Address, Zip, Phone, FreqMileage, Monthly_Sales, Stores = None):
        super().__init__(name, Address, Zip, Phone, Monthly_Sales, Employees = None)
        self.name = name
        try:
          last_blank = name.rindex(' ')
          self.last_name = name[last_blank+1:]
          self.first_name = name[:last_blank]
        except:
          self.last_name = name 
        self.Phone = Phone
        self.Zip = Zip
        self.FreqMileage = FreqMileage
        if Stores is None:
          self.Stores = 0
        else:
          self.Stores = Stores        
        
    def getLastName(self, last_name):
        """Returns self's last name"""
        self.last_name = last_name

    def getFirstName(self, first_name):
        """Returns self's first name"""
        self.first_name = first_name

    def getPhone(self, Phone):
        self.Phone = Phone

    def getZip(self, Zip):
        self.Zip = Zip

    def getFreqMileage(self, FreqMileage):
        self.FreqMileage = FreqMileage

    def __lt__(self, other):
        if self.last_name == other.last_name:
          return self.first_name < other.first_name
        return self.last_name < other.last_name

    def __repr__(self):
      return "\n {"+"First Name: " + self.first_name + "\tLast Name: " + self.last_name + "\t  Phone Number: "  + str(self.Phone) +"\t Zip Code: " + str(self.Zip) + "   Frequent Mileage Number: " + str(self.FreqMileage) + "}"

In [16]:
C1 = Customer('Isaac Rock', '12 Hilly Side', 20850, 301734, 89765, 4, S1)
C2 = Customer('Hong Ting', '34 Lavender St', 45030, 4105898, 98760, 3, S2)
C3 = Customer("Chris Fong", '55 Jasmin Flr', 80778, 3403456, 34564, 4, S5)
C4 = Customer("Fulton Fith", '76 Bud Hill', 80765, 2408758, 57460, 2, S6)
C5 = Customer("Matt Hill", '90 Purple Flr', 10798, 3479856, 34564, 4, S4)
C6 = Customer("Ally Hoy", '98 Yellow Hill', 30745, 1203458, 19560, 2, S3)

Customers = [C1, C2, C3, C4, C5, C6]
for i in Customers:
  print(i)

 {First Name: Isaac	Last Name: Rock	  Phone Number: 301734	 Zip Code: 20850   Frequent Mileage Number: 89765}

 {First Name: Hong	Last Name: Ting	  Phone Number: 4105898	 Zip Code: 45030   Frequent Mileage Number: 98760}

 {First Name: Chris	Last Name: Fong	  Phone Number: 3403456	 Zip Code: 80778   Frequent Mileage Number: 34564}

 {First Name: Fulton	Last Name: Fith	  Phone Number: 2408758	 Zip Code: 80765   Frequent Mileage Number: 57460}

 {First Name: Matt	Last Name: Hill	  Phone Number: 3479856	 Zip Code: 10798   Frequent Mileage Number: 34564}

 {First Name: Ally	Last Name: Hoy	  Phone Number: 1203458	 Zip Code: 30745   Frequent Mileage Number: 19560}

In [17]:
# Ability to sort the customers in ascending order based on the last names
merge_Cust = merge_sort(Customers)
print(merge_Cust)

[
 {First Name: Fulton	Last Name: Fith	  Phone Number: 2408758	 Zip Code: 80765   Frequent Mileage Number: 57460},
 {First Name: Chris	Last Name: Fong	  Phone Number: 3403456	 Zip Code: 80778   Frequent Mileage Number: 34564},
 {First Name: Matt	Last Name: Hill	  Phone Number: 3479856	 Zip Code: 10798   Frequent Mileage Number: 34564},
 {First Name: Ally	Last Name: Hoy	  Phone Number: 1203458	 Zip Code: 30745   Frequent Mileage Number: 19560},
 {First Name: Isaac	Last Name: Rock	  Phone Number: 301734	 Zip Code: 20850   Frequent Mileage Number: 89765},
 {First Name: Hong	Last Name: Ting	  Phone Number: 4105898	 Zip Code: 45030   Frequent Mileage Number: 98760}]

In [18]:
# Ability to change first name, last name, phone number, zip code, and frequent mileage
print("Before the change of C2")
print(C2)
C2.getFirstName("Fay")
C2.getLastName("Tigg")
C2.getPhone(5404556)
C2.getZip("15750")
C2.getFreqMileage("41")
print("\n")
print("All customers names resorted with new info")
merge_Cust = merge_sort(Customers)
print(merge_Cust)
print("\n")
print("All customers names unsorted with new info")
Customers

Before the change of C2

 {First Name: Hong	Last Name: Ting	  Phone Number: 4105898	 Zip Code: 45030   Frequent Mileage Number: 98760}


All customers names resorted with new info
[
 {First Name: Fulton	Last Name: Fith	  Phone Number: 2408758	 Zip Code: 80765   Frequent Mileage Number: 57460},
 {First Name: Chris	Last Name: Fong	  Phone Number: 3403456	 Zip Code: 80778   Frequent Mileage Number: 34564},
 {First Name: Matt	Last Name: Hill	  Phone Number: 3479856	 Zip Code: 10798   Frequent Mileage Number: 34564},
 {First Name: Ally	Last Name: Hoy	  Phone Number: 1203458	 Zip Code: 30745   Frequent Mileage Number: 19560},
 {First Name: Isaac	Last Name: Rock	  Phone Number: 301734	 Zip Code: 20850   Frequent Mileage Number: 89765},
 {First Name: Fay	Last Name: Tigg	  Phone Number: 5404556	 Zip Code: 15750   Frequent Mileage Number: 41}]


All customers names unsorted with new info

[
  {First Name: Isaac	Last Name: Rock	  Phone Number: 301734	 Zip Code: 20850   Frequent Mileage Number: 89765},

  {First Name: Fay	Last Name: Tigg	  Phone Number: 5404556	 Zip Code: 15750   Frequent Mileage Number: 41},

  {First Name: Chris	Last Name: Fong	  Phone Number: 3403456	 Zip Code: 80778   Frequent Mileage Number: 34564},

  {First Name: Fulton	Last Name: Fith	  Phone Number: 2408758	 Zip Code: 80765   Frequent Mileage Number: 57460},

  {First Name: Matt	Last Name: Hill	  Phone Number: 3479856	 Zip Code: 10798   Frequent Mileage Number: 34564},

  {First Name: Ally	Last Name: Hoy	  Phone Number: 1203458	 Zip Code: 30745   Frequent Mileage Number: 19560}]

In [19]:
# Ability to pull out customer's first name on the list
Customers[0].first_name

'Isaac'

In [20]:
# Customers merge sort to prepare for searching last name:
cust_first_name = []
cust_last_name = []
cust_zip = []
cust_phone = []
cust_freqMileage = []

for i in merge_Cust:
  cust_first_name.append(i.first_name)
  cust_last_name.append(i.last_name)
  cust_zip.append(i.Zip)
  cust_phone.append(i.Phone)
  cust_freqMileage.append(i.FreqMileage)
print(cust_first_name, cust_last_name, cust_zip, cust_phone, cust_freqMileage)

['Fulton', 'Chris', 'Matt', 'Ally', 'Isaac', 'Fay'] ['Fith', 'Fong', 'Hill', 'Hoy', 'Rock', 'Tigg'] [80765, 80778, 10798, 30745, 20850, '15750'] [2408758, 3403456, 3479856, 1203458, 301734, 5404556] [57460, 34564, 34564, 19560, 89765, '41']

In [21]:
# ITERATIVE BINARY SEARCH
# considered edge cases: 1. input value doesn't exist in the array, 2. empty array
# last names to consider Fith', 'Fong', 'Hill', 'Hoy', 'Rock', 'Tigg' 
in_value = input("Enter the last name: ")

def binary_search(value, array):
    low, high = 0, len(array)-1
    while low <= high:
        mid = low + (high - low) // 2
        mid_value = array[mid]
        if mid_value == value:
            return mid
        elif mid_value < value:
            low = mid + 1
        else:
            high = mid - 1
    return -1

result = binary_search(in_value, cust_last_name )
if result == -1:
  print("No such customer in the list")
else:
  print(cust_first_name[result], cust_last_name[result], "\tPhone: ", cust_phone[result],
        "\t Zip: ",  cust_zip[result], "\tFrequent Mileage: ", cust_freqMileage[result])

Enter the last name: Fong
Chris Fong 	Phone:  3403456 	 Zip:  80778 	Frequent Mileage:  34564

In [22]:
# Store merge sort to prepare for searching store zip code:
store_name = []
store_address = []
store_zip = []
store_phone = []
store_monthlySales = []

for i in merge_Store:
  store_name.append(i.name)
  store_address.append(i.Address)
  store_zip.append(i.Zip)
  store_phone.append(i.Phone)
  store_monthlySales.append(i.Monthly_Sales)
print(store_name, store_address, store_zip, store_phone, store_monthlySales)

['Uppy Hill', 'Timm Tong', 'Hott City', 'Fall View', 'Scoretown', 'Ball Mall'] ['88 Gung St', '2 Russell St', '608 Russell St', '409 Octo St', '714 Loud St', '345 Darn St'] [20007, 20840, 20846, 27508, 78600, 98790] [2406455, 2406455, 2406455, 30185642, 30185642, 2409867] [150, 80, 58, 40, 221, 97]

In [23]:
#Binary Search for a store zip code to match a customer's zip. Use zip code 20840
#Zip code selections are 20007, 20840, 20846, 27508, 78600, 98790
in_value =int(input("Enter a customer zip code to match store's zip code: "))
result = binary_search(in_value, store_zip)
if result == -1:
  print("No such location in the list")
else:
  print(store_name[result], "\tPhone: ", store_phone[result], "\t Zip: ",  store_zip[result], "\tMonthly Sales: ", store_monthlySales[result])

Enter a customer zip code to match store's zip code: 20007
Uppy Hill 	Phone:  2406455 	 Zip:  20007 	Monthly Sales:  150

# 4. Class for Pizza

In [24]:
class Pizza:

  def __init__(self, TOPPING, PRICE, CRUST):
    self.toppings = TOPPING
    self.tot_price = len(self.toppings)* PRICE
    self.crust = CRUST
    
  def add_top(self, TOPPING, PRICE):        # add topping and price
      self.toppings.append(TOPPING)
      self.tot_price += PRICE
      return self.toppings, self.tot_price
        
  def remove_top(self, TOPPING, PRICE):     # remove topping and price
      try:
        self.toppings.remove(TOPPING)
        self.tot_price -= PRICE      
      except:
        raise ValueError (str(TOPPING) + ' not found')
      return self.toppings, self.tot_price

  def setCrust(self, CRUST):          # change the crust info
      self.crust = CRUST
  
  def getTop(self):                   # get the toppings info
      return self.toppings[:]

  def getTopPrice(self):              # get the total price
      return self.tot_price
      
  def getCrust(self):                 # get the crust info
      return self.crust


  def show(self):
        return "{"+ "Toppings: "+ str(self.getTop())   + "  Crust: " +  self.getCrust() + "  Total Price: $" + str(self.getTopPrice())  +  "}"

  def __repr__(self):
      return "{"+ "Toppings: "+ str(self.getTop()) +  "  Crust: " +  self.getCrust() + " Total Price: $" + str(self.getTopPrice()) + "  Crust: " +  self.getCrust() + "}"

In [25]:
PT1 = Pizza(["ham", "egg", "tomato"], 1.50, "thick")
PT2 = Pizza(["green", "pepper"], 2.00, "thin")
PT3 = Pizza(["cheese"], .50, "thick")
PT4 = Pizza(["shrimp", "spam", "apple"], 1.50, "thick")
PT5 = Pizza(["orange", "peaches"], 1.20, "thin")
PT6 = Pizza(["caramel"], .75, "thick")

PT = [PT1, PT2, PT3, PT4, PT5, PT6]

In [26]:
# Ability to add toppings and new price on the order
PT1.add_top("cheese", 2.00)

(['ham', 'egg', 'tomato', 'cheese'], 6.5)

In [27]:
# Ability to remove toppings and revise price on the order
PT1.remove_top("egg", 2.00)

(['ham', 'tomato', 'cheese'], 4.5)

In [28]:
# Ability to change type of crust
PT1.setCrust("thin")

In [29]:
# Ability to show the new changes
PT1.show()

"{Toppings: ['ham', 'tomato', 'cheese']  Crust: thin  Total Price: $4.5}"

In [30]:
# Ability to show the list of topping orders
for i in PT:
  print(i)

{Toppings: ['ham', 'tomato', 'cheese']  Crust: thin Total Price: $4.5  Crust: thin}
{Toppings: ['green', 'pepper']  Crust: thin Total Price: $4.0  Crust: thin}
{Toppings: ['cheese']  Crust: thick Total Price: $0.5  Crust: thick}
{Toppings: ['shrimp', 'spam', 'apple']  Crust: thick Total Price: $4.5  Crust: thick}
{Toppings: ['orange', 'peaches']  Crust: thin Total Price: $2.4  Crust: thin}
{Toppings: ['caramel']  Crust: thick Total Price: $0.75  Crust: thick}

# 5. Class for PizzaOrder

In [31]:
class PizzaOrder():

  def __init__(self, PizzaNum, DateEntered, TotalOrder, OrderStatus, Pizzas = None, Customers= None, Stores=None):
    self.PizzaNum = PizzaNum
    self.DateEntered = DateEntered
    self.TotalOrder = TotalOrder
    self.OrderStatus = OrderStatus
    if Pizzas is None:
          self.Pizzas = []
    else:
          self.Pizzas = Pizzas
    if Customers is None:
          self.Customers = 0
    else:
          self.Customers = Customers
    if Stores is None:
          self.Stores = 0
    else:
          self.Stores = Stores

  def setPizzaNum(self, PizzaNum):
    self.PizzaNum = PizzaNum
    return self.PizzaNum

  def setTotalOrder(self, TotalOrder):
    self.TotalOrder = TotalOrder
    return self.TotalOrder
      
  def setOrderedDate(self, DateEntered):
    self.DateEntered = DateEntered
    return self.DateEntered

  def setStatus(self, OrderStatus):
    self.OrderStatus = OrderStatus
    return self.OrderStatus

  def add_pizza(self, OrderPizzaNum, Price):
    self.PizzaNum += OrderPizzaNum
    self.TotalOrder += Price
    return self.PizzaNum, self.TotalOrder

  def remove_pizza(self, OrderPizzaNum, Price):
    self.PizzaNum -= OrderPizzaNum
    self.TotalOrder -= Price
    return self.PizzaNum, self.TotalOrder

  def apply_Promocode(self, PromoAmount):
    self.TotalOrder -= PromoAmount
    return self.TotalOrder

  def CustomerInfo(self):
    return self.Customers

  def PizzaInfo(self):
    return self.Pizzas

  def StoreInfo(self):
    return self.Stores
    
  def __lt__(self, other):
    if self.DateEntered == other.DateEntered:
       return self.TotalOrder < other.TotalOrder
    return self.DateEntered < other.DateEntered

  def __repr__(self):
       return '{' + "No of Pizza: " + str(self.PizzaNum) + "\tTotal Order $"  + str(self.TotalOrder) + "\t\tOrdered Date "+ str(self.DateEntered) + "\t\tOrder Status " + str(self.OrderStatus) +  '}''\n'

In [32]:
# Entry of Pizza Orders with an unsorted list
PO1 = PizzaOrder(3, datetime.date(2019, 1, 10), 30, "created", [PT1], C3, S1 )
PO2 = PizzaOrder(5, datetime.date(2019, 1, 3), 85, "cancelled", [PT2], C2, S3 )
PO3 = PizzaOrder(10, datetime.date(2019, 3, 4), 36, "complete", [PT4], C1, S5)
PO4 = PizzaOrder(6, datetime.date(2019, 7, 22), 70, "on delivery", [PT3], C4, S6)
PO5 = PizzaOrder(4, datetime.date(2019, 12, 31), 36, "complete", [PT5], C6, S2)
PO6 = PizzaOrder(1, datetime.date(2019, 1, 7), 70, "ready", [PT6], C5, S1)

POlist = [PO1, PO2, PO3, PO4, PO5, PO6]
POlist

[{No of Pizza: 3	Total Order $30		Ordered Date 2019-01-10		Order Status created},
 {No of Pizza: 5	Total Order $85		Ordered Date 2019-01-03		Order Status cancelled},
 {No of Pizza: 10	Total Order $36		Ordered Date 2019-03-04		Order Status complete},
 {No of Pizza: 6	Total Order $70		Ordered Date 2019-07-22		Order Status on delivery},
 {No of Pizza: 4	Total Order $36		Ordered Date 2019-12-31		Order Status complete},
 {No of Pizza: 1	Total Order $70		Ordered Date 2019-01-07		Order Status ready}]

In [33]:
# Ability to get customer information 
PO2.CustomerInfo()

 {First Name: Fay	Last Name: Tigg	  Phone Number: 5404556	 Zip Code: 15750   Frequent Mileage Number: 41}

In [34]:
# Ability to get store location
PO2.StoreInfo()

 {Location Name: Fall View  Address: 409 Octo St  Zip: 27508  Phone: 30185642  Monthly_Sales: 40}

In [35]:
# Ability to get Pizza Topping Information from class Pizza for the first Pizza Order
PO2.PizzaInfo()

[{Toppings: ['green', 'pepper']  Crust: thin Total Price: $4.0  Crust: thin}]

In [36]:
# Ability to get information for the Pizza Order
PO5

{No of Pizza: 4	Total Order $36		Ordered Date 2019-12-31		Order Status complete}

In [37]:
# Ability to add/remove pizza, order more than one pizza, change price, and get an unsorted list after all the revisions
print("Add: ", PO5.add_pizza(1, 10))
print("Remove: ", PO5.remove_pizza(2, 11))
print("Set Total Order: ", PO5.setTotalOrder(30))
print("Set Order Status: ", PO5.setStatus("returned"))
print("Set Pizza Number: ", PO5.setPizzaNum(3))

Add:  (5, 46)
Remove:  (3, 35)
Set Total Order:  30
Set Order Status:  returned
Set Pizza Number:  3

In [38]:
# Ability to change date for the Pizza Order
print("datetime changed: ", PO5.setOrderedDate(datetime.date(2019, 9, 10)))

datetime changed:  2019-09-10

In [39]:
# Ability to apply special promo code
PO5.apply_Promocode(10)

20

In [40]:
print("Revised Unsorted List with changes")
POlist

Revised Unsorted List with changes

[{No of Pizza: 3	Total Order $30		Ordered Date 2019-01-10		Order Status created},
 {No of Pizza: 5	Total Order $85		Ordered Date 2019-01-03		Order Status cancelled},
 {No of Pizza: 10	Total Order $36		Ordered Date 2019-03-04		Order Status complete},
 {No of Pizza: 6	Total Order $70		Ordered Date 2019-07-22		Order Status on delivery},
 {No of Pizza: 3	Total Order $20		Ordered Date 2019-09-10		Order Status returned},
 {No of Pizza: 1	Total Order $70		Ordered Date 2019-01-07		Order Status ready}]

In [41]:
# sort PizzaOrder by orderdate and then total order 
merge_POlist = merge_sort(POlist)
print(merge_POlist)

[{No of Pizza: 5	Total Order $85		Ordered Date 2019-01-03		Order Status cancelled}
, {No of Pizza: 1	Total Order $70		Ordered Date 2019-01-07		Order Status ready}
, {No of Pizza: 3	Total Order $30		Ordered Date 2019-01-10		Order Status created}
, {No of Pizza: 10	Total Order $36		Ordered Date 2019-03-04		Order Status complete}
, {No of Pizza: 6	Total Order $70		Ordered Date 2019-07-22		Order Status on delivery}
, {No of Pizza: 3	Total Order $20		Ordered Date 2019-09-10		Order Status returned}
]

In [42]:
# Pizza Order merge sort to prepare for searching Order Date and Order Status:
POlist_PizzaNum = []
POlist_DateEntered = []
POlist_TotalOrder = []
POlist_OrderStatus = []

for i in merge_POlist:
  POlist_PizzaNum.append(i.PizzaNum)
  POlist_DateEntered.append(i.DateEntered)
  POlist_TotalOrder.append(i.TotalOrder)
  POlist_OrderStatus.append(i.OrderStatus)
print(POlist_PizzaNum, POlist_DateEntered, POlist_TotalOrder, POlist_OrderStatus)

[5, 1, 3, 10, 6, 3] [datetime.date(2019, 1, 3), datetime.date(2019, 1, 7), datetime.date(2019, 1, 10), datetime.date(2019, 3, 4), datetime.date(2019, 7, 22), datetime.date(2019, 9, 10)] [85, 70, 30, 36, 70, 20] ['cancelled', 'ready', 'created', 'complete', 'on delivery', 'returned']

In [43]:
# Pull out after certain date in sorted order and will use 2019-03-01 as point of reference
def Find_Later(y):
  for polist in merge_POlist:
     if y < polist.DateEntered:
         print("Ordered Date:" , polist.DateEntered, "\tNo. of Pizza: ", polist.PizzaNum, "\tTotal Order: ",
               polist.TotalOrder, "\tOrder Status: ", polist.OrderStatus)
  print("\nEnd of Search")

x = input("Enter search date in YYYY-MM-DD: ")
look = datetime.datetime.strptime(x, "%Y-%m-%d").date()
print("\nThe search date later than ", x)
Find_Later(look)

Enter search date in YYYY-MM-DD: 2019-03-01

The search date later than  2019-03-01
Ordered Date: 2019-03-04 	No. of Pizza:  10 	Total Order:  36 	Order Status:  complete
Ordered Date: 2019-07-22 	No. of Pizza:  6 	Total Order:  70 	Order Status:  on delivery
Ordered Date: 2019-09-10 	No. of Pizza:  3 	Total Order:  20 	Order Status:  returned

End of Search

In [44]:
# Pull out prior certain date in sorted order by date
def Find_Earlier(y):
    for polist in merge_POlist:
        if y > polist.DateEntered:
          print("Ordered Date:" , polist.DateEntered, "No. of Pizza: ", polist.PizzaNum, "Total Order: ", polist.TotalOrder, "Order Status: ", polist.OrderStatus)

    print("End of Search")

x = input("Enter search date in YYYY-MM-DD: ")
look = datetime.datetime.strptime(x, "%Y-%m-%d").date()
print("\nThe search date earlier than ", x)

Find_Earlier(look)

Enter search date in YYYY-MM-DD: 2019-03-01

The search date earlier than  2019-03-01
Ordered Date: 2019-01-03 No. of Pizza:  5 Total Order:  85 Order Status:  cancelled
Ordered Date: 2019-01-07 No. of Pizza:  1 Total Order:  70 Order Status:  ready
Ordered Date: 2019-01-10 No. of Pizza:  3 Total Order:  30 Order Status:  created
End of Search

In [45]:
# Ability to use binary search to find order date
# Selections of order dates 
# datetime.date(2019, 1, 3), datetime.date(2019, 1, 7), datetime.date(2019, 1, 10)
# datetime.date(2019, 3, 4), datetime.date(2019, 7, 22), datetime.date(2019, 9, 10)
x = input("Enter search date in YYYY-MM-DD: ")
look = datetime.datetime.strptime(x, "%Y-%m-%d").date()

result = binary_search(look, POlist_DateEntered)
if result == -1:
  print("No such order date in the list")
else:
  print("Ordered Date:" , POlist_DateEntered[result],"\tNo. of Pizza: ", POlist_PizzaNum[result],
        "\tTotal Order: $", POlist_TotalOrder[result], "\tOrder Status: ", POlist_OrderStatus[result])

Enter search date in YYYY-MM-DD: 2019-03-01
No such order date in the list

In [46]:
# Ability to change order status
PO4.setStatus("returned")

'returned'

In [47]:
# Ability to get customer information for class customer
PO4.CustomerInfo()

 {First Name: Fulton	Last Name: Fith	  Phone Number: 2408758	 Zip Code: 80765   Frequent Mileage Number: 57460}

In [48]:
# Ability to specify the store for which the order was made
PO4.StoreInfo()

 {Location Name: Hott City  Address: 608 Russell St  Zip: 20846  Phone: 2406455  Monthly_Sales: 58}

In [49]:
# Ability to check the order status showing the customer's name date
look = input("Key in one of the following order status created, cancelled, ready, returned, on delivery or complete: ") 
print('\n')
def Find_OrderStatus():
  for polist in POlist:
      if look == polist.OrderStatus:
          print("Customer name: ", polist.Customers.name, "\tCustomer phone: ", polist.Customers.Phone)
          print("Order Date: ", polist.DateEntered, "\tNumber of Pizza: ", polist.PizzaNum, 
                "\tTotal Price: ", polist.TotalOrder, "\tStatus: ", polist.OrderStatus)
          print("\n")

  print("End of Search")

Find_OrderStatus()

Key in one of the following order status created, cancelled, ready, returned, on delivery or complete: ready


Customer name:  Matt Hill 	Customer phone:  3479856
Order Date:  2019-01-07 	Number of Pizza:  1 	Total Price:  70 	Status:  ready


End of Search

In [50]:
for polist in POlist:
  print("Store: ", polist.Stores.name, "\tOrderdate: ", polist.DateEntered)

Store:  Timm Tong 	Orderdate:  2019-01-10
Store:  Fall View 	Orderdate:  2019-01-03
Store:  Scoretown 	Orderdate:  2019-03-04
Store:  Hott City 	Orderdate:  2019-07-22
Store:  Ball Mall 	Orderdate:  2019-09-10
Store:  Timm Tong 	Orderdate:  2019-01-07

In [51]:
# Ability to check the order status showing the customer's name date
# and get the monthly sales of a particular store
# Enter Timm Tong Month 01

look_store = input("Enter one of the stores: ") 
look_month = input("Enter 2 number digit for the month: ")

def Find_Monthly_Sales():
  Monthly_Sales = 0
  for polist in merge_POlist:
      month = datetime.datetime.strftime(polist.DateEntered, "%m")
      if look_store == polist.Stores.name and look_month == month:
          Monthly_Sales += polist.TotalOrder
          print("Customer name: ", polist.Customers.name, "\tCustomer phone: ", polist.Customers.Phone,
                "\tOrder Date: ", polist.DateEntered)
          print("\tNumber of Pizza: ", polist.PizzaNum, "\tTotal Price: ", polist.TotalOrder)
  ("\n")
  print("Monthly Sales: $", Monthly_Sales)
  print("End of Search")

Find_Monthly_Sales()

Enter one of the stores: Timm Tong
Enter 2 number digit for the month: 01
Customer name:  Matt Hill 	Customer phone:  3479856 	Order Date:  2019-01-07
	Number of Pizza:  1 	Total Price:  70
Customer name:  Chris Fong 	Customer phone:  3403456 	Order Date:  2019-01-10
	Number of Pizza:  3 	Total Price:  30
Monthly Sales: $ 100
End of Search

**For Searching and Sorting, Explain Time/Space Computation Complexity using Big O Notation**

In computer science, the Big O Notation describes the worst case (upper bound) scenario in an algorithm by analyzing the cost of the algorithm. This takes into account the time complexity, execution time, which depends on algorithm processor used and programs running. It considers the size of inputs ‘n’ in an array and concerns with the code that grows fastest as the input grows. Space Complexity is similar to time complexity, but it is about the optimization of memory rather than saving time. <br>
In this project, for loops with if else statement, merge sort, and binary search are used. There is a function that contains for loops. The for loop has a time complexity of  O(n) because the size of array scales as the input size grows. Its space complexity is O(1).  There are other functions that contains more than the for loop because it also contains the if else statement.  The use of for loops with if statement will have a time complexity at its worst is O(n^2) because the for loop is O(n) and the worst scenario for  if else statement is O(n). Thus making my time complexity a quadratic. <br>
Another method used is the merge sorts, a recursive base, which is the most commonly used log-linear algorithm. The time complexity of merge is O(len(L)).  At each level of recursion, the total number of elements to be merged is len(L). On the other hand, the time complexity of mergeSort is O(len(L)) multiplied by the number of levels of recursion. The merge sort always divides the array into two halves (repeatedly halves makes is log) and takes linear time to merge 2 halves. Thus, the time complexity of merge sort is O(nLogn) in its worst, average, and best scenario. Its space complexity is 0(n) whose algorithm takes a lot of space and may slow down operation for the last data sets. <br>
Finally, binary search is also used as the search method which is a faster algorithm than the linear search. It has a Big O notation of O(logN). The binary search uses the iterative method that has a space complexity of O(1) (meaning it is constant running time independent of the size of the input).