In [1]:
import pandas as pd
import numpy as np

NOTE: This assignment is adapted from: https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb

1. Given a list of states = ['VA', 'MD', 'NY', 'NJ', 'TX'] and arbitrarary census data = list(range(10)), construct a MultiIndex object from the product of the two lists. Use it to index a ``Series`` of random numbers. Call this Series s.

**Note you will have multiply indexed series with state name as the 1st level of index and census data (0 to 9) as the 2nd level index**

In [2]:
print([(range(10))])

[range(0, 10)]

In [3]:
idx = pd.MultiIndex.from_product([['VA','MD','NY','NJ','TX'],[i for i in range(10)]])

In [4]:
idx

MultiIndex([('VA', 0),
            ('VA', 1),
            ('VA', 2),
            ('VA', 3),
            ('VA', 4),
            ('VA', 5),
            ('VA', 6),
            ('VA', 7),
            ('VA', 8),
            ('VA', 9),
            ('MD', 0),
            ('MD', 1),
            ('MD', 2),
            ('MD', 3),
            ('MD', 4),
            ('MD', 5),
            ('MD', 6),
            ('MD', 7),
            ('MD', 8),
            ('MD', 9),
            ('NY', 0),
            ('NY', 1),
            ('NY', 2),
            ('NY', 3),
            ('NY', 4),
            ('NY', 5),
            ('NY', 6),
            ('NY', 7),
            ('NY', 8),
            ('NY', 9),
            ('NJ', 0),
            ('NJ', 1),
            ('NJ', 2),
            ('NJ', 3),
            ('NJ', 4),
            ('NJ', 5),
            ('NJ', 6),
            ('NJ', 7),
            ('NJ', 8),
            ('NJ', 9),
            ('TX', 0),
            ('TX', 1),
            ('TX', 2),
            ('TX', 3),
            ('TX', 4),
            ('TX', 5),
            ('TX', 6),
            ('TX', 7),
            ('TX', 8),
            ('TX', 9)],
           )

In [5]:
type(idx)

pandas.core.indexes.multi.MultiIndex

In [6]:
s = pd.Series(np.random.rand(50), index=idx)

In [7]:
s

VA  0    0.901372
    1    0.373620
    2    0.446326
    3    0.831981
    4    0.017170
    5    0.540241
    6    0.601778
    7    0.682628
    8    0.483308
    9    0.672611
MD  0    0.589129
    1    0.705542
    2    0.272119
    3    0.338307
    4    0.443715
    5    0.185667
    6    0.923480
    7    0.451709
    8    0.158352
    9    0.309872
NY  0    0.930251
    1    0.707169
    2    0.290471
    3    0.784917
    4    0.730786
    5    0.970514
    6    0.426994
    7    0.860872
    8    0.897911
    9    0.243390
NJ  0    0.231186
    1    0.422993
    2    0.536284
    3    0.633894
    4    0.670752
    5    0.662336
    6    0.658122
    7    0.210607
    8    0.847259
    9    0.006205
TX  0    0.383418
    1    0.524825
    2    0.981443
    3    0.416179
    4    0.168403
    5    0.544760
    6    0.548335
    7    0.474254
    8    0.422576
    9    0.955142
dtype: float64

2. Check whether the index of s is lexicographically sorted. If not, apply sorting to ensure that you can use index slicing.

In [8]:
try:
    s['VA':'TX']
except KeyError as e:
    # This is the result of the MultiIndex not being sorted.
    print(type(e))
    print(e)

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [9]:
s = s.sort_index()
s

MD  0    0.589129
    1    0.705542
    2    0.272119
    3    0.338307
    4    0.443715
    5    0.185667
    6    0.923480
    7    0.451709
    8    0.158352
    9    0.309872
NJ  0    0.231186
    1    0.422993
    2    0.536284
    3    0.633894
    4    0.670752
    5    0.662336
    6    0.658122
    7    0.210607
    8    0.847259
    9    0.006205
NY  0    0.930251
    1    0.707169
    2    0.290471
    3    0.784917
    4    0.730786
    5    0.970514
    6    0.426994
    7    0.860872
    8    0.897911
    9    0.243390
TX  0    0.383418
    1    0.524825
    2    0.981443
    3    0.416179
    4    0.168403
    5    0.544760
    6    0.548335
    7    0.474254
    8    0.422576
    9    0.955142
VA  0    0.901372
    1    0.373620
    2    0.446326
    3    0.831981
    4    0.017170
    5    0.540241
    6    0.601778
    7    0.682628
    8    0.483308
    9    0.672611
dtype: float64

3. Select the labels 1, 3 and 6 from the second level of the MultiIndexed ``Series``.

In [10]:
s.loc[:,[1,3,6]]

MD  1    0.705542
    3    0.338307
    6    0.923480
NJ  1    0.422993
    3    0.633894
    6    0.658122
NY  1    0.707169
    3    0.784917
    6    0.426994
TX  1    0.524825
    3    0.416179
    6    0.548335
VA  1    0.373620
    3    0.831981
    6    0.601778
dtype: float64

In [11]:
idx.set_codes([[0,0,0,1,1,1,2,2,2,3,3,3,4,4,4], [1,3,6,1,3,6,1,3,6,1,3,6,1,3,6]])

MultiIndex([('MD', 1),
            ('MD', 3),
            ('MD', 6),
            ('NJ', 1),
            ('NJ', 3),
            ('NJ', 6),
            ('NY', 1),
            ('NY', 3),
            ('NY', 6),
            ('TX', 1),
            ('TX', 3),
            ('TX', 6),
            ('VA', 1),
            ('VA', 3),
            ('VA', 6)],
           )

4. Slice the ``DataFrame`` df; slice up to 4th state of the first level and from label 8 onwards for the second level.

## **If I am slicing a series, my answers will be two ways:**
- loc only 
- indexSlice with loc

In [12]:
# loc only
s.loc[:"TX", 8:9]

MD  8    0.158352
    9    0.309872
NJ  8    0.847259
    9    0.006205
NY  8    0.897911
    9    0.243390
TX  8    0.422576
    9    0.955142
dtype: float64

In [13]:
# Another way is using Index Slice
idx = pd.IndexSlice
s.loc[idx[:"TX"], idx[8:9]]

MD  8    0.158352
    9    0.309872
NJ  8    0.847259
    9    0.006205
NY  8    0.897911
    9    0.243390
TX  8    0.422576
    9    0.955142
dtype: float64

## **If I am slicing a dataframe, I am going to convert the series to a dataframe**
- unstack
- slice using one of two ways:
    - loc
    - IndexSlice and loc
- depending on the requirement, most likely unstack again

In [14]:
s.index.names = ["State", 'State index']

In [15]:
df = s.to_frame()

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df

                          0
State State index
MD    0            0.589129
      1            0.705542
      2            0.272119
      3            0.338307
      4            0.443715
      5            0.185667
      6            0.923480
      7            0.451709
      8            0.158352
      9            0.309872
NJ    0            0.231186
      1            0.422993
      2            0.536284
      3            0.633894
      4            0.670752
      5            0.662336
      6            0.658122
      7            0.210607
      8            0.847259
      9            0.006205
NY    0            0.930251
      1            0.707169
      2            0.290471
      3            0.784917
      4            0.730786
      5            0.970514
      6            0.426994
      7            0.860872
      8            0.897911
      9            0.243390
TX    0            0.383418
      1            0.524825
      2            0.981443
      3            0.416179
      4            0.168403
      5            0.544760
      6            0.548335
      7            0.474254
      8            0.422576
      9            0.955142
VA    0            0.901372
      1            0.373620
      2            0.446326
      3            0.831981
      4            0.017170
      5            0.540241
      6            0.601778
      7            0.682628
      8            0.483308
      9            0.672611

In [18]:
df = df[0]

In [19]:
df.index

MultiIndex([('MD', 0),
            ('MD', 1),
            ('MD', 2),
            ('MD', 3),
            ('MD', 4),
            ('MD', 5),
            ('MD', 6),
            ('MD', 7),
            ('MD', 8),
            ('MD', 9),
            ('NJ', 0),
            ('NJ', 1),
            ('NJ', 2),
            ('NJ', 3),
            ('NJ', 4),
            ('NJ', 5),
            ('NJ', 6),
            ('NJ', 7),
            ('NJ', 8),
            ('NJ', 9),
            ('NY', 0),
            ('NY', 1),
            ('NY', 2),
            ('NY', 3),
            ('NY', 4),
            ('NY', 5),
            ('NY', 6),
            ('NY', 7),
            ('NY', 8),
            ('NY', 9),
            ('TX', 0),
            ('TX', 1),
            ('TX', 2),
            ('TX', 3),
            ('TX', 4),
            ('TX', 5),
            ('TX', 6),
            ('TX', 7),
            ('TX', 8),
            ('TX', 9),
            ('VA', 0),
            ('VA', 1),
            ('VA', 2),
            ('VA', 3),
            ('VA', 4),
            ('VA', 5),
            ('VA', 6),
            ('VA', 7),
            ('VA', 8),
            ('VA', 9)],
           names=['State', 'State index'])

In [20]:
df

State  State index
MD     0              0.589129
       1              0.705542
       2              0.272119
       3              0.338307
       4              0.443715
       5              0.185667
       6              0.923480
       7              0.451709
       8              0.158352
       9              0.309872
NJ     0              0.231186
       1              0.422993
       2              0.536284
       3              0.633894
       4              0.670752
       5              0.662336
       6              0.658122
       7              0.210607
       8              0.847259
       9              0.006205
NY     0              0.930251
       1              0.707169
       2              0.290471
       3              0.784917
       4              0.730786
       5              0.970514
       6              0.426994
       7              0.860872
       8              0.897911
       9              0.243390
TX     0              0.383418
       1              0.524825
       2              0.981443
       3              0.416179
       4              0.168403
       5              0.544760
       6              0.548335
       7              0.474254
       8              0.422576
       9              0.955142
VA     0              0.901372
       1              0.373620
       2              0.446326
       3              0.831981
       4              0.017170
       5              0.540241
       6              0.601778
       7              0.682628
       8              0.483308
       9              0.672611
Name: 0, dtype: float64

In [21]:
idx = pd.IndexSlice
l = df.loc[idx[:"TX"], idx[8:9]]
l

State  State index
MD     8              0.158352
       9              0.309872
NJ     8              0.847259
       9              0.006205
NY     8              0.897911
       9              0.243390
TX     8              0.422576
       9              0.955142
Name: 0, dtype: float64

In [22]:
# Unstacking it would also good
df = df.unstack()

In [23]:
df

State index,0,1,2,3,4,5,6,7,8,9
State,,,,,,,,,,
MD,0.589129,0.705542,0.272119,0.338307,0.443715,0.185667,0.923480,0.451709,0.158352,0.309872
NJ,0.231186,0.422993,0.536284,0.633894,0.670752,0.662336,0.658122,0.210607,0.847259,0.006205
NY,0.930251,0.707169,0.290471,0.784917,0.730786,0.970514,0.426994,0.860872,0.897911,0.243390
TX,0.383418,0.524825,0.981443,0.416179,0.168403,0.544760,0.548335,0.474254,0.422576,0.955142
VA,0.901372,0.373620,0.446326,0.831981,0.017170,0.540241,0.601778,0.682628,0.483308,0.672611

In [24]:
f = df.loc[:"TX", 8:9]
f

State index         8         9
State
MD           0.158352  0.309872
NJ           0.847259  0.006205
NY           0.897911  0.243390
TX           0.422576  0.955142

In [25]:
f.stack()

State  State index
MD     8              0.158352
       9              0.309872
NJ     8              0.847259
       9              0.006205
NY     8              0.897911
       9              0.243390
TX     8              0.422576
       9              0.955142
dtype: float64

 5. Sum the values in s for each label in the first level (you should have Series giving you a total for labels 'VA', 'MD', 'NY', 'NJ' and 'TX').

In [26]:
s.index.names = ["State", 'State index']

In [35]:
s.sum()

27.071176416187928

In [27]:
s.groupby('State').sum()

State
MD    4.377893
NJ    4.879638
NY    6.843274
TX    5.419335
VA    5.551036
dtype: float64

In [30]:
#Another way
s.sum(level=0)

State
MD    4.377893
NJ    4.879638
NY    6.843274
TX    5.419335
VA    5.551036
dtype: float64

In [34]:
s.sum(level=1)

State index
0    3.035355
1    2.734150
2    2.526643
3    3.005278
4    2.030826
5    2.903518
6    3.158709
7    2.680070
8    2.809407
9    2.187221
dtype: float64

6. Using unstack, create a ``DataFrame`` from s. States index will become new columns.

In [31]:
s.index.names = ["State", 'State index']

In [32]:
s.unstack()

State index,0,1,2,3,4,5,6,7,8,9
State,,,,,,,,,,
MD,0.589129,0.705542,0.272119,0.338307,0.443715,0.185667,0.923480,0.451709,0.158352,0.309872
NJ,0.231186,0.422993,0.536284,0.633894,0.670752,0.662336,0.658122,0.210607,0.847259,0.006205
NY,0.930251,0.707169,0.290471,0.784917,0.730786,0.970514,0.426994,0.860872,0.897911,0.243390
TX,0.383418,0.524825,0.981443,0.416179,0.168403,0.544760,0.548335,0.474254,0.422576,0.955142
VA,0.901372,0.373620,0.446326,0.831981,0.017170,0.540241,0.601778,0.682628,0.483308,0.672611