# Data 690 Week 14 HW

### 1. Create a `DataFrame` named 'neighbor_crime'.
Do this by pulling in data from this URL: https://opendata.arcgis.com/datasets/3eeb0a2cbae94b3e8549a8193717a9e1_0.csv

In [1]:
import pandas as pd

In [2]:
# Another option is when the csv is the local host
# neighbor_crime = pd.read_csv('./Part1_Crime_data.csv')
neighbor_crime = pd.read_csv(
    "https://opendata.arcgis.com/datasets/3eeb0a2cbae94b3e8549a8193717a9e1_0.csv"
)

In [3]:
neighbor_crime.head()

,X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents
0,-76.6466,39.2531,1,2021/05/01 15:18:00+00,6J,FERRY RD & MARBOURNE AV,LARCENY,O,NaN,923,SOUTHERN,LAKELAND,39.2531,-76.6466,"(39.2531,-76.6466)",STREET,NaN,1
1,-76.6551,39.2942,2,2021/05/01 18:00:00+00,6D,2400 LAURETTA AVE,LARCENY FROM AUTO,I,NaN,721,WESTERN,ROSEMONT HOMEOWNERS/TENANTS,39.2942,-76.6551,"(39.2942,-76.6551)",ROW/TOWNHOUSE-OCC,NaN,1
2,-76.6115,39.2988,3,2021/05/01 03:28:00+00,4E,300 E MADISON ST,COMMON ASSAULT,O,NaN,124,CENTRAL,MOUNT VERNON,39.2988,-76.6115,"(39.2988,-76.6115)",STREET,NaN,1
3,-76.6115,39.2988,4,2021/05/01 03:28:00+00,4E,300 E MADISON ST,COMMON ASSAULT,O,NaN,124,CENTRAL,MOUNT VERNON,39.2988,-76.6115,"(39.2988,-76.6115)",STREET,NaN,1
4,-76.6401,39.3150,5,2021/05/01 09:23:00+00,4E,2600 MADISON AVE,COMMON ASSAULT,I,NaN,133,CENTRAL,RESERVOIR HILL,39.3150,-76.6401,"(39.315,-76.6401)",APT/CONDO - OCCUPIED,NaN,1

In [4]:
neighbor_crime.shape

(334676, 18)

### 2. Do the manual pivoting of the data by
  1. Grouping the data by 'Description and District'
  2. Selecting 'Neighborhood'
  3. Aggregating the data using count
  4. `unstack()` the table

In [5]:
neighbor_crime.groupby(['Description', 'District'])['Neighborhood'].aggregate('count').unstack()

District,CENTRAL,EASTERN,NORTHEAST,NORTHERN,NORTHWEST,SOUTHEAST,SOUTHERN,SOUTHWEST,WESTERN
Description,,,,,,,,,
AGG. ASSAULT,3880,4335,5232,3184,3746,4199,4417,4789,4349
ARSON,80,144,256,111,198,101,186,201,124
AUTO THEFT,1988,2140,5420,2916,3838,3140,3231,3664,2934
BURGLARY,3558,3576,7902,6075,5211,6049,5686,5255,3406
COMMON ASSAULT,6973,6212,8100,4933,5193,7223,6041,6845,5415
HOMICIDE,135,328,283,166,305,151,231,335,368
LARCENY,10439,5536,9931,9337,7041,11588,8534,6931,4837
LARCENY FROM AUTO,6080,3235,6219,5618,3662,8543,4474,3148,1987
RAPE,276,237,306,243,239,253,278,254,210
ROBBERY - CARJACKING,279,181,423,356,464,334,350,379,336
ROBBERY - COMMERCIAL,803,431,897,782,633,823,618,528,307
ROBBERY - RESIDENCE,251,313,673,351,389,373,472,419,318
ROBBERY - STREET,3330,1870,3405,2507,2010,4023,2416,1764,1585
SHOOTING,352,719,508,326,533,311,522,670,775

### 3. Using Pandas `pivot_table()` method
- Produce the same outcome as above which used the manual groupby

In [6]:
neighbor_crime.pivot_table(
    index='Description', columns='District',
    aggfunc={'Neighborhood': 'count'}
)

                     Neighborhood                                       \
District                  CENTRAL EASTERN NORTHEAST NORTHERN NORTHWEST
Description
AGG. ASSAULT                 3880    4335      5232     3184      3746
ARSON                          80     144       256      111       198
AUTO THEFT                   1988    2140      5420     2916      3838
BURGLARY                     3558    3576      7902     6075      5211
COMMON ASSAULT               6973    6212      8100     4933      5193
HOMICIDE                      135     328       283      166       305
LARCENY                     10439    5536      9931     9337      7041
LARCENY FROM AUTO            6080    3235      6219     5618      3662
RAPE                          276     237       306      243       239
ROBBERY - CARJACKING          279     181       423      356       464
ROBBERY - COMMERCIAL          803     431       897      782       633
ROBBERY - RESIDENCE           251     313       673      351       389
ROBBERY - STREET             3330    1870      3405     2507      2010
SHOOTING                      352     719       508      326       533


District             SOUTHEAST SOUTHERN SOUTHWEST WESTERN
Description
AGG. ASSAULT              4199     4417      4789    4349
ARSON                      101      186       201     124
AUTO THEFT                3140     3231      3664    2934
BURGLARY                  6049     5686      5255    3406
COMMON ASSAULT            7223     6041      6845    5415
HOMICIDE                   151      231       335     368
LARCENY                  11588     8534      6931    4837
LARCENY FROM AUTO         8543     4474      3148    1987
RAPE                       253      278       254     210
ROBBERY - CARJACKING       334      350       379     336
ROBBERY - COMMERCIAL       823      618       528     307
ROBBERY - RESIDENCE        373      472       419     318
ROBBERY - STREET          4023     2416      1764    1585
SHOOTING                   311      522       670     775

In [7]:
neighbor_crime.head()

,X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents
0,-76.6466,39.2531,1,2021/05/01 15:18:00+00,6J,FERRY RD & MARBOURNE AV,LARCENY,O,NaN,923,SOUTHERN,LAKELAND,39.2531,-76.6466,"(39.2531,-76.6466)",STREET,NaN,1
1,-76.6551,39.2942,2,2021/05/01 18:00:00+00,6D,2400 LAURETTA AVE,LARCENY FROM AUTO,I,NaN,721,WESTERN,ROSEMONT HOMEOWNERS/TENANTS,39.2942,-76.6551,"(39.2942,-76.6551)",ROW/TOWNHOUSE-OCC,NaN,1
2,-76.6115,39.2988,3,2021/05/01 03:28:00+00,4E,300 E MADISON ST,COMMON ASSAULT,O,NaN,124,CENTRAL,MOUNT VERNON,39.2988,-76.6115,"(39.2988,-76.6115)",STREET,NaN,1
3,-76.6115,39.2988,4,2021/05/01 03:28:00+00,4E,300 E MADISON ST,COMMON ASSAULT,O,NaN,124,CENTRAL,MOUNT VERNON,39.2988,-76.6115,"(39.2988,-76.6115)",STREET,NaN,1
4,-76.6401,39.3150,5,2021/05/01 09:23:00+00,4E,2600 MADISON AVE,COMMON ASSAULT,I,NaN,133,CENTRAL,RESERVOIR HILL,39.3150,-76.6401,"(39.315,-76.6401)",APT/CONDO - OCCUPIED,NaN,1

### 4. Using 'CrimeDate' column, create a DatetimeIndex
Hint: 
- You will use one of the methods described in 'Pandas Time Series Data Structures' section. 
- You will have to specify the values of the `Series` as the input. See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.values.html

In [8]:
from datetime import datetime
import numpy as np

In [9]:
neighbor_crime['CrimeDate'] = pd.to_datetime(neighbor_crime['CrimeDateTime']).dt.date
type(neighbor_crime['CrimeDate'])

pandas.core.series.Series

In [10]:
dates = pd.DatetimeIndex(
    neighbor_crime['CrimeDate'], dtype='datetime64[ns]', freq=None)

In [11]:
dates

DatetimeIndex(['2021-05-01', '2021-05-01', '2021-05-01', '2021-05-01',
               '2021-05-01', '2021-05-01', '2021-05-01', '2021-05-01',
               '2021-05-01', '2021-04-30',
               ...
               '1979-01-01', '1978-01-01', '1978-01-01', '1978-01-01',
               '1977-05-01', '1975-06-01', '1973-07-01', '1970-06-15',
               '1969-07-20', '1963-10-30'],
              dtype='datetime64[ns]', name='CrimeDate', length=334676, freq=None)