Write a Python script that implements following requirements:

- that you are starting a new pizza restaurant franchise, and you'd like to be able to take online orders.

  - Create a Python class called PizzaOrder that  has following capabilities. 
  - Ability to store and retrieve customer first name and last name
  - Ability to store and retrieve the order date
  - Ability to store and retrieve the order amount (cost)
  - Ability to arrange the order by order amount

- In the code, you will create a order_robot function that creates 10 pizza orders using the class you created.

- order_robot function will print each order detail (string representation) and will sort the orders by the order amount.

In [1]:
import datetime 
class PizzaOrder:
  def __init__(self, name):
        self.name = name  
        try:
          last_blank = name.rindex(' ')
          self.last_name = name[last_blank+1:]
          self.first_name = name[:last_blank]
        except:
          self.last_name = name 
        self.orderAmount = None
        self.orderDate = None
        self.isSorted = True
  
  def addName(self, name):
    """Returns self's full name"""
    if name in self.names:
      raise ValueError('Duplicate Student')
    self.names.append(name)
    self.isSorted = False

  def getLastName(self):
    """Returns self's last name"""
    return self.last_name

  def getFirstName(self):
    """Returns self's first name"""
    return self.first_name
  
  def setOrderDate(self, orderDate):
    self.orderDate= orderDate
    return str(self.orderDate)
  
  def setOrderAmount(self, orderAmount):
    self.orderAmount=orderAmount
    return str(self.orderAmount)

  def getOrderDate(self, orderDate):
    self.orderDate= orderDate
    return str(self.orderDate)
  
  def getOrderAmount(self, orderAmount):
    self.orderAmount=orderAmount
    return str(self.orderAmount)  

  def __lt__(self, other):
    if self.orderAmount == other.orderAmount:
      return self.orderDate < self.orderDate
    return self.orderAmount < other.orderAmount

  def getCustomers(self):
    """Return sorted list of customers"""
    if not self.isSorted:
      self.name.sort()
      self.isSorted = True
    return self.orderAmount[:] #return copy of list of orderAmount

  def __repr__(self):
       return '{' + self.last_name + ', '  +self.first_name  +"\t   total amount: "+ str(self.orderAmount) + "\torder date: "+str(self.orderDate) + '}'

In [2]:
c1 = PizzaOrder("Simon Cowell")
c1.setOrderAmount(20)
c1.setOrderDate(datetime.date(1950, 6, 4))
c2 = PizzaOrder("Appleton Pie")
c2.setOrderAmount(400)
c2.setOrderDate(datetime.date(2025, 9, 1))
c3 = PizzaOrder("Thomas Cruz")
c3.setOrderAmount(500)
c3.setOrderDate(datetime.date(1990, 2, 15))
c4 = PizzaOrder("Thomas Hanks")
c4.setOrderAmount(100)
c4.setOrderDate(datetime.date(2021, 3, 5))
c5 = PizzaOrder("Liz Taylor")
c5.setOrderAmount(145)
c5.setOrderDate(datetime.date(1955, 8, 14))
c6 = PizzaOrder("Cris Plummer")
c6.setOrderAmount(66)
c6.setOrderDate(datetime.date(1976, 9, 30))
c7 = PizzaOrder("Bill Clinton")
c7.setOrderAmount(986)
c7.setOrderDate(datetime.date(1965, 7, 11))
c8 = PizzaOrder("Barack Obama")
c8.setOrderAmount(5)
c8.setOrderDate(datetime.date(1970, 12, 24))
c9 = PizzaOrder("George Coon")
c9.setOrderAmount(33)
c9.setOrderDate(datetime.date(2001, 12, 5))
c10 = PizzaOrder("Tom Sawyer")
c10.setOrderAmount(95)
c10.setOrderDate(datetime.date(2006, 7, 4))

customers = [c1, c2, c3, c4, c5, c6, c7, c8, c9, c10]
print("This prints the unsorted customer list")
customers

This prints the unsorted customer list

[{Cowell, Simon	   total amount: 20	order date: 1950-06-04},
 {Pie, Appleton	   total amount: 400	order date: 2025-09-01},
 {Cruz, Thomas	   total amount: 500	order date: 1990-02-15},
 {Hanks, Thomas	   total amount: 100	order date: 2021-03-05},
 {Taylor, Liz	   total amount: 145	order date: 1955-08-14},
 {Plummer, Cris	   total amount: 66	order date: 1976-09-30},
 {Clinton, Bill	   total amount: 986	order date: 1965-07-11},
 {Obama, Barack	   total amount: 5	order date: 1970-12-24},
 {Coon, George	   total amount: 33	order date: 2001-12-05},
 {Sawyer, Tom	   total amount: 95	order date: 2006-07-04}]

In [3]:
def order_robot(custlist):
  custlist.sort(reverse= True)
  for c in custlist:
    print(c)

print("This prints the sorted total amount from highest to lowest")
order_robot(customers)

This prints the sorted total amount from highest to lowest
{Clinton, Bill	   total amount: 986	order date: 1965-07-11}
{Cruz, Thomas	   total amount: 500	order date: 1990-02-15}
{Pie, Appleton	   total amount: 400	order date: 2025-09-01}
{Taylor, Liz	   total amount: 145	order date: 1955-08-14}
{Hanks, Thomas	   total amount: 100	order date: 2021-03-05}
{Sawyer, Tom	   total amount: 95	order date: 2006-07-04}
{Plummer, Cris	   total amount: 66	order date: 1976-09-30}
{Coon, George	   total amount: 33	order date: 2001-12-05}
{Cowell, Simon	   total amount: 20	order date: 1950-06-04}
{Obama, Barack	   total amount: 5	order date: 1970-12-24}

In [4]:
print("This print the first customer entered")
print(c1)

This print the first customer entered
{Cowell, Simon	   total amount: 20	order date: 1950-06-04}

In [5]:
print("This stores, retrieves and prints the fifth customer ")
print("c5: ", c5)
print("Full name: ", c5.name)
print("First name: ",c5.first_name)
print("Last name: ", c5.last_name)
print("Order Amount: ", c5.orderAmount)
print("Order Date: ",c5.orderDate)

This stores, retrieves and prints the fifth customer
c5:  {Taylor, Liz	   total amount: 145	order date: 1955-08-14}
Full name:  Liz Taylor
First name:  Liz
Last name:  Taylor
Order Amount:  145
Order Date:  1955-08-14

In [6]:
print("The get enables to make changes")
print("This is the first entry for the second customer")
print(c2)
c2.getOrderAmount(3)
print("\nThis is the second and third change for the second customer")
c2.getOrderDate(datetime.date(1987, 3, 18))
print(c2)

The get enables to make changes
This is the first entry for the second customer
{Pie, Appleton	   total amount: 400	order date: 2025-09-01}

This is the second and third change for the second customer
{Pie, Appleton	   total amount: 3	order date: 1987-03-18}

In [7]:
print("This list was resorted after changes was made in the amount")
order_robot(customers)

This list was resorted after changes was made in the amount
{Clinton, Bill	   total amount: 986	order date: 1965-07-11}
{Cruz, Thomas	   total amount: 500	order date: 1990-02-15}
{Taylor, Liz	   total amount: 145	order date: 1955-08-14}
{Hanks, Thomas	   total amount: 100	order date: 2021-03-05}
{Sawyer, Tom	   total amount: 95	order date: 2006-07-04}
{Plummer, Cris	   total amount: 66	order date: 1976-09-30}
{Coon, George	   total amount: 33	order date: 2001-12-05}
{Cowell, Simon	   total amount: 20	order date: 1950-06-04}
{Obama, Barack	   total amount: 5	order date: 1970-12-24}
{Pie, Appleton	   total amount: 3	order date: 1987-03-18}